.vs/Data-Structure/DesignTimeBuild/.dtbcache.v2
.vs/Data-Structure/FileContentIndex/1a0c58dc-26fa-430d-aeba-6ab09dc2b151.vsidx
.vs/Data-Structure/FileContentIndex/6b6da6e5-283f-4d50-b23e-4d088a94b2fb.vsidx
.vs/Data-Structure/FileContentIndex/eb17ebe6-b619-4a1e-9635-0a0badbe3c1d.vsidx
.vs/Data-Structure/v17/.futdcache.v2
.vs/Data-Structure/v17/.suo
.vs/Data-Structure/v17/DocumentLayout.backup.json
.vs/Data-Structure/v17/DocumentLayout.json
.vs/ProjectEvaluation/data-structure.metadata.v9.bin
.vs/ProjectEvaluation/data-structure.projects.v9.bin
.vs/ProjectEvaluation/data-structure.strings.v9.bin
obj/Debug/net8.0/Data-Structure.AssemblyInfo.cs
obj/Debug/net8.0/Data-Structure.AssemblyInfoInputs.cache
